.hCompras{
	color: #006837;
}

.pCompras{
	color: #006837;
	font-weight: bold;
	font-size: 18px;
}

.tdCabecera{
	color: #006837;
	font-weight: bold;
}

.registros{
	color: #006837;
	font-weight: bold;
}